:root {
    --cloud-radius: 220;
}

hr {
    margin-bottom: 50px;
    border: 1px;
}
.body-text {
    color: lightslategray;
    font-size: 30px;
    line-height: 1.5;
}
/*for links*/
.link{
    text-decoration: none;
    color: cornflowerblue;
    font-weight: bold;
}
.link:hover{
    text-decoration: underline;
}

.page-name {
    font-size: 60px;
}

/* NAVBAR------------------------------- */
.navbar {
    background-color:steelblue;
}
.navbar-brand {
    color: white;
    font-size: 30px;
    font-weight:600;
    letter-spacing: 5px;
    transition: .5s;
}
.navbar-brand:hover {
    color:burlywood !important;
}
.nav-item {
    margin-right: 40px;
    font-size: large;
}
.nav-link {
    color: antiquewhite !important;
    letter-spacing: 5px !important;
}
.nav-link:hover {
    color: gold !important;
}


/* HOME PAGE--------------------------------*/
.home-container {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}
.skills {
    text-align: center;
    font-size: 40px;
}

/* PROJECTS PAGE--------------------------------------*/
.accordion-item {
    margin-bottom: 3% !important;
    border-width: 10px !important;
    border: 1px solid rgb(194, 193, 193) !important;
}   
.png {
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.title-text {
    font-size: 20px;
}


/*word sphere*/
.tagcloud {
    text-align: center;
    font-family: 'Overpass Mono';
    font-size: 17px;
    width: 50%;
    margin: auto;
}
.tagcloud--item {
    transition: .25s;
}
.tagcloud--item:hover{
    cursor: pointer;
    color: rgb(228, 181, 82);
}

@media only screen and (max-width: 1300px) {
    :root {
        --cloud-radius: 190;
    }
}

@media only screen and (max-width: 1000px) {
    #cloud {
        visibility: hidden;
    }
}


@keyframes typewrite {
    0%, 100% {
        width: 0;
    } 
    10% {
        width: 0;
    }
    30%, 80% {
        width: 8.5em;
    }
}

@keyframes cursor {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.write {
    font-family: 'Patua One';
    animation-name: typewrite;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(25,end);
}

.write::after {
    content: "|";
    position: absolute;
    right: 0;
    animation: cursor infinite;
    animation-duration: 1s;
    animation-timing-function: steps(1, end);
}

@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }